@font-face {
  font-family: headerFont; 
  src: url('./fonts/NoisyWalk.ttf');
}

@font-face {
  font-family: subheaderFont; 
  src: url('./fonts/Zector.ttf');
}

@font-face {
  font-family: Typewriter; 
  src: url('./fonts/CourierPrime.ttf');
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

main {
  position: absolute;
  width: 100vw;
  z-index: 99;
  margin: 0px auto;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

header {
  grid-column: 1 / 12;
  padding-left: 2rem;
}

h1 {
  color: white;
  font-family: 'Roboto Mono', monospace;
  text-transform: uppercase;
  font-weight: 1;
  font-size: 65px;
}

p {
  color: white;
  font-family: subheaderFont;
  font-size: 25px;
}

div {
  display: inline-block;
}

img {
  padding: 1rem;
  padding-top: 3rem;
}

a {
  text-decoration: none;
}

#container {
  overflow-y: auto;
  grid-column: 1 / 12;
}

.right {
  grid-column: 8 / 12;
  text-align: right;
}
.left {
  width: 30%;
}

.filler {
  grid-column: 1 / 12;
}

.clickThru {
  user-select: none;
}

.dClickThru {
  user-select: auto;
  pointer-events: auto;
}

.mainHeading {
  grid-column: 1 / 12;
}

.codeButton {
  transform: translate(0, -70%);
}

/* CSS */
.button-17 {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 15px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: subheaderFont;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}

.button-17:hover {
  background: #F6F9FE;
  color: #292929;
}

.button-17:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.button-17:not(:disabled) {
  box-shadow: rgba(255, 255, 255, 0.8) 0 1px 3px 0, rgba(79, 79, 79, 0.4) 0 4px 8px 3px;
}

.button-17:not(:disabled):hover {
  box-shadow: rgba(255, 255, 255, 0.8) 0 2px 3px 0, rgba(79, 79, 79, 0.4) 0 6px 10px 4px;
}

.button-17:not(:disabled):focus {
  box-shadow: rgba(255, 255, 255, 0.8) 0 1px 3px 0, rgba(79, 79, 79, 0.4) 0 4px 8px 3px;
}

.button-17:not(:disabled):active {
  box-shadow: rgba(255, 255, 255, 0.8) 0 4px 4px 0, rgba(79, 79, 79, 0.4) 0 8px 12px 6px;
}

.button-17:disabled {
  box-shadow: rgba(255, 255, 255, 0.8) 0 1px 3px 0, rgba(79, 79, 79, 0.4) 0 4px 8px 3px;
}
